body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    background-color: black;
    align-items: flex-start;
    margin: 50px;
}

main {
    width: 100%;
}

header {
    min-height: 90px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #FFFFFF;
    margin-left: 100px;
}

nav {
    margin-left: 70px;
    display: flex;
    width: 100%;
}

.nav__list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.nav__li {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 28px;
    list-style: none;
    text-decoration: none;
}

.nav__li:hover {
    color: blanchedalmond;
}

.nav__lu {
    display: none;
}

.first-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-height: 690px;
}

.main-title {
    max-width: 366px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    /* identical to box height, or 121% */
    letter-spacing: -2px;
    color: #FFFFFF;
    margin-top: 100px;
}

.main-info {
    max-width: 410px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    color: #FFFFFF;
    margin-top: 43px;
}

.pic {
    max-width: 585px;
}

@media screen and (max-width: 768px)and (min-height:1024px) {
    .first-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

    .nav {
        justify-content: space-between;
        flex-direction: row;
    }

    body {
        margin: 0px;
    }

    header {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
    }

    .logo {
        margin-left: 0px;
    }
}


@media screen and (max-width:320px)and (min-height:568px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .first-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .nav__lu {
        display: flex;
        margin-left: 15px;
    }

    .nav__li {
        display: none;
    }

    .logo {
        margin-left: 0px;
    }

    body {
        margin-top: 0px;
    }
}