body {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1440px;
    background-color: black;
    align-items: flex-start;
    margin: 50px;
}

main {
    width: 100%;
}

header {
    min-height: 90px;
    width: 100%;
    margin-top: 50px;
    margin-left: 50px;
}

.logo {
    font-family: 'Actor';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 36px;
    /* identical to box height, or 150% */
    letter-spacing: -0.25px;
    color: #FFFFFF;
    margin-left: 50px;
}

.topnav {
    margin-left: 70px;
    display: flex;
    width: 100%;
}

.topnav {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: flex-start;
}

.nav__li {
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #FFFFFF;
    margin-left: 28px;
    list-style: none;
    text-decoration: none;
}

.nav__li:hover {
    color: blanchedalmond;
}


.first-container {
    display: flex;
    align-items: flex-start;
    justify-content: space-around;
    flex-wrap: wrap;
    flex-direction: row;
    width: 100%;
    max-height: 690px;
}

.main-title {
    max-width: 366px;
    font-family: 'Poppins';
    font-style: normal;
    font-weight: 500;
    font-size: 84px;
    line-height: 102px;
    /* identical to box height, or 121% */
    letter-spacing: -2px;
    color: #FFFFFF;
    margin-top: 100px;
}

.main-info {
    max-width: 410px;
    font-family: 'Source Sans Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 34px;
    /* or 155% */
    color: #FFFFFF;
    margin-top: 43px;
}

.pic {
    max-width: 585px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: gray;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}

@media screen and (max-width: 768px)and (min-height:1024px) {
    .first-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
        flex-wrap: wrap;
        justify-content: center;
        margin-top: 50px;
    }

    .topnav {
        flex-direction: row;
        display: flex;
        justify-content: center;
        margin-right: 50px;
    }
}

body {
    margin: 0px;
}

header {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

.logo {
    margin-left: 0px;
}

.topnav {
    overflow: hidden;
}

.topnav a {
    float: left;
    display: block;
    color: #f2f2f2;
    text-align: center;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: gray;
    color: black;
}

.topnav a.active {
    background-color: #04AA6D;
    color: white;
}

.topnav .icon {
    display: none;
}



@media screen and (max-width:320px)and (min-height:568px) {
    header {
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .first-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .logo {
        margin-left: 0px;
    }

    .main-info {
        margin-top: 0px;
        margin-left: 50px
    }


    .main-title {
        margin-top: 0px;
        margin-left: 50px;
    }

    .topnav {
        justify-content: flex-end;
    }

    body {
        margin-top: 0px;
    }

    .topnav.responsive {
        position: relative;
    }

    .topnav.responsive .icon {
        position: absolute;
        right: 0;
        top: 0;
    }

    .topnav.responsive a {
        float: none;
        display: block;
        text-align: left;
    }

    .topnav a {
        display: none;
    }

    .topnav a.icon {
        float: right;
        display: block;
    }
}